.emailPassword{
    width: 700px;
    
    background: #fff;
    border-radius: 15px;
    border: 1px solid #4ec74e;
    color: #000;
    padding: 20px;
    box-shadow: rgb(7 184 35 / 15%) 0px 48px 100px 0px;
}